@layout EmptyLayout
@page "/"

@using AplicacaoFullStack.Models
@inject NavigationManager NavigationManager;
@inject AplicacaoFullStack.Services.IClienteService ClienteService;

<PageTitle>Login</PageTitle>

<div class="limitador">
		<div class="conteudo-login">
			<div class="tamanho-login">	
				<form @onsubmit="login">
					<span class="titulo-login">
						Login
					</span>

					<div class="conteudo-input-email">
						<input class="formatacao-input" type="email" required name="email" minlength="8" maxlength="65" placeholder="seuemail@exemplo.com">
					</div>
					
					
					<div class="conteudo-input-senha">
						<input class="formatacao-input" type="password" required minlength="6" maxlength="20" name="senha" placeholder="Senha">
					</div>

					<input type="submit" value="Acessar" class="botao-login">
				</form>
			</div>
		</div>
	</div>

@code{

	 async Task login()
    {
        NavigationManager.NavigateTo("/home");
    }

}