@page "/home"

@using AplicacaoFullStack.Models
@inject IJSRuntime JSRuntime
@inject AplicacaoFullStack.Services.IClienteService ClienteService;

<PageTitle>Projeto FullStack</PageTitle>

<div class="row">
    <h1 class="col-10">Clientes</h1>

    <a href="/create" class="btn btn-success col-2" style="max-height: 35px;"> Criar</a>
</div>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(clientes != null && clientes.Count > 0)
        {
            foreach(var item in clientes)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.nome</td>
                    <td>@item.telefone</td>
                    <td>@item.email</td>
                    <td>
                        <a href="/update/@item.id" class="btn btn-warning">Atualizar</a>
                        <button class="btn btn-danger" @onclick="async () => await DeleteCliente(item.id)">Deletar</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code{
    List<Cliente> clientes = new();

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.FindAll();
    }

    async Task DeleteCliente(Guid id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja deletar este cliente ?");
        if (confirmed is false)
            return;

        var cliente = await ClienteService.GetBy(id);

        await ClienteService.Delete(cliente);

        clientes = await ClienteService.FindAll();

        StateHasChanged();
    }
}